.my-card-body {
    height: calc(100vh - (60px + 48px));
}

.my-card-tag {
    height: calc(100vh - (60px + 48px + 38px));
}

.my-tag {
    display: flex;
}

.text-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}
